<div class="comments-edit">
  <div class="form-container">
    <h3>コメント編集</h3>

    <%= form_with(model: @topic, local: true) do |f| %>
      <div class="field">
        <%= f.label :body, "Body" %>
        <%= f.text_area :body %>
      </div>

      <div class="field">
        <%= f.label :image, "Image" %>
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <%= f.label :youtube_url, "Youtube url" %>
        <%= f.text_field :youtube_url %>
      </div>

      <%= f.submit "投稿する", class: "submit-btn" %>
    <% end %>

    <%= link_to "投稿一覧に戻る", topics_path, class: "back-link" %>
  </div>